@model IEnumerable<Entities.Employee>
@using Entities

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Photo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        
        <th>
            Hire Date
        </th>
        <th>
            Date Of Birth
        </th>
        <th>
            Country
        </th>
        <th>
            Salary
        </th>
        <th>
            Managers
        </th>
        <th>Actions</th>
    </tr>

@foreach (var employee in Model) {
<tr>
    <td>
        <img width="90" src="@employee.PhotoUrl" />
    </td>
    @if (employee.Project == null)
    {
        <td>No Project</td>
    }
    else
    {
        <td>
            @Html.DisplayFor(modelItem => employee.Project.ProjectName)
        </td>
    }
    <td>
        @Html.DisplayFor(modelItem => employee.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => employee.LastName)
    </td>
    <td>
        @employee.HireDate.ToString("d")
    </td>
    <td>
        @employee.DateOfBirth.ToString("d")
    </td>
    <td>
        @employee.Country
    </td>
    <td>
        $ @employee.Salary
    </td>
    <td>
        <ul>
            @if (employee.Managers.Count == 0)
            {
                <li>No Managers Yet</li>
            }
            else
            {
                foreach (var manager in employee.Managers)
                {
                    <li>@manager.FirstName</li>
                }
            }
        </ul>
    </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = employee.Id }) |
                @Html.ActionLink("Details", "Details", new { id = employee.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = employee.Id })
            </td>
        </tr>
}

</table>
